{% extends "index.html" %}

{% block container %}
{% load staticfiles %}
<script src='{% static 'assets/js/echarts.js' %}'></script>
<div style="height: 500px;">
<div id="main12" style="height: 300px;width:40%"></div>
<div id="main13" style="height: 300px;width:60%;float: right;margin-top:-300px "></div>

{#<div id="main22" style="height: 300px;width:40%;margin-top:10px "></div>#}
<div id="main22" style="height: 300px;width:60%;float: right;margin-top:-300px "></div>
<hr/>
<div class="row">
{#        <div class="col-md-6">#}
{#            <form class="form-inline" role="form" method="POST"> {% csrf_token %}#}
{#            <table class="table table-bordered table-hover">#}
{#                <tr>#}
{#                    <td>主机ip：</td>#}
{#                    <td>{{ form.hostip|safe }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>指标名：</td>#}
{#                    <td>{{ form.metric|safe }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td colspan="2"><center><button type="submit" class="btn btn-info">查询</button></center></td>#}
{#                </tr>#}
{#            </table>#}
{##}
{#            </form>#}
{#            </div>#}
    <form class="form-inline" role="form" method="POST"> {% csrf_token %}
        <div class="form-group">
{#        <span class="span1">#}
            <label for="id_province" class="control-label">选择主机</label>
            <select class="form-control" id="id_province" name="hostid">
                <option selected="selected">请选择</option>
                {% for foo in hosts %}
                    <option value="{{ foo.id }}">{{ foo.hostid }}</option>
                {% endfor %}
            </select>
{#        </span>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <span class="span1">#}
            <label for="id_city" class="control-label">选择指标</label>
            <select class="form-control" id="id_city" name="itemid">
                <option selected="selected">请选择</option>
            </select>
{#            </span>#}
{#        </div>#}
{#        <div class="form-group">#}
{#                    <center><button type="submit" class="btn btn-info">查询</button></center>#}
            <input type="submit" class="submit_button" id="submit_button"  value="查询">
        </div>
    </form>

    </div>
<div id="main21" style="height: 300px;width:40%;margin-top:30px "></div>

</div>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main12'));
        var option = {

     tooltip: {
         trigger:'axis',
{#         formatter: function(params) {#}
{#            return params[0].value;#}
{#        }#}
    },
    title: {
        text: 'cpu趋势图'
    },
    xAxis: {
        type: 'category',
        data: {{ time|safe }}
    },
    yAxis: {
        type: 'value',
{#        axisLabel : {#}
{#                formatter: '{value} °C'#}
{#            }#}
    },
    series: [{
        name: '127.0.0.1',
        data: {{ value|safe }},
        type: 'line',
{#        areaStyle: {}#}
    },{
        name: '127.0.0.1',
        data: {{ value1|safe }},
        type: 'line',
        color: '#FC7D02',
{#        areaStyle: {}#}
    }]
};
        myChart.setOption(option);

    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main22'));
        var option = {

     tooltip: {
         trigger:'axis',
{#         formatter: function(params) {#}
{#            return params[0].value;#}
{#        }#}
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    title: {
        text: '内存趋势图'
    },
    xAxis: {
        type: 'category',
        data: {{ time1|safe }}
    },
    yAxis: {
        type: 'value',
{#        axisLabel : {#}
{#                formatter: '{value} °C'#}
{#            }#}
    },
    series: [{
        name: '127.0.0.1',
        data: {{ value1|safe }},
        type: 'line',
        areaStyle: {}
    },{
        name: '192.168.0.1',
        data: {{ valuem|safe }},
        type: 'line',
        color: '#FC7D02',
{#        areaStyle: {}#}
    }]
};
        myChart.setOption(option);

    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main21'));
        var option = {

     tooltip: {
         trigger:'axis',
{#         formatter: function(params) {#}
{#            return params[0].value;#}
{#        }#}
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    title: {
        text: "{{ mname|safe }}"
    },
    xAxis: {
        type: 'category',
        data: {{ time2|safe }}
    },
    yAxis: {
        type: 'value',
    },
    series: [{
        name: "{{ ip }}",
        data: {{ value2|safe }},
        type: 'line',
        areaStyle: {}
    }]
};
        myChart.setOption(option);

    </script>
{% endblock %}

{% block page_javascript %}
<script>
    $('#id_province').change(function(){
        var id = $('#id_province').val();
        console.log(id)
        $.getJSON("{% url 'getname' %}?pk="+id, function(data,textStatus){
            var content='<option selected="selected">select</option>';
            $.each(data, function(i, item){
                   content+='<option value='+item.pk+'>'+item.fields.itemid+'</option>'
            });
            $('#id_city').html(content)
        });
    });

$(document).ready(function () {
    $("#submit_button").click(function () {
        var id = $('#id_province').val();
        var metric =  $('#id_city').val();
        if (id == '请选择') {
            alert("请选择主机");
            return false;
        }
        else {
            if (metric == 'select') {
                alert("请选择指标");
                return false;
            }
    else $('#form').submit(); } }); })
</script>
{% endblock %}