{% extends "asset/hosts_list.html" %}
{% block search %}

    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon" id="node_name" >主机名</span>
         <!-- 如果之前已经写入了node_name的信息，那么页面重新加载后保留-->
            <input type="text" class="form-control" placeholder="" aria-describedby="hostname" name="hostname"
                    {% if request.GET.node_name %}value = {{ request.GET.node_name }}{% endif %}>
        </div>
     </div>

     <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon" id="node_address">IP地址</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="hostid" name = "hostid"
                    {% if request.GET.node_address %}value = {{ request.GET.node_address }}{% endif %}>
        </div>
     </div>



{% endblock %}

{% block table_tr %}

<th>IP地址</th>
<th>主机名</th>



{% endblock %}
{% block table_td %}
<td>{{item.hostid}}</td>
<td>{{item.hostname}}</td>


{% endblock %}
