<!--继承index.html-->
{% extends "index.html" %}
{% block page_css %}
{% endblock %}
<!--填充导航栏的页面名称-->
{% block page_title %}
    指标信息
{% endblock %}
<!--放置主页面内容-->
{% block container %}

    {% load staticfiles %}
    <div class="row">
        <!-- Search Page BEGINS-->
        <div class="col-xs-12">
            <form class="navbar-for navbar-container" role="search" method="get" action="">{% csrf_token %}
                <!--放置搜索栏内容-->
                {% block search %}
                {% endblock %}
                <div class="col-sm-3">
                        <span class="input-group-btn">
                           <button type="submit" class="btn btn-purple btn-sm">
                                        查询
                                        <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                    </button>
                        </span>
                </div>
            </form>
        </div>
        <!-- Search Page END -->
        <!-- PAGE TABLES BEGINS -->
        <div class="col-xs-12">
            <div>
                <table id="table_id" class="table table-striped table-bordered table-hover">
                    <thead>
                    <!--表格头部-->
                    {% block table_tr %}
                    {% endblock %}
                    </thead>
                   <!--表格内容-->
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            {% block table_td %}
                            {% endblock %}

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 加载删除 -->
    {% include 'asset/assModal.html' %}

    <!-- 加载分页 -->
{% include 'Pagination.html' %}
{% endblock %}



{% block page_javascript %}
    {% include 'asset/assModal_js.html' %}
    <!--datatable的专用js-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                //分页配置
                "paging": false,
                //搜索配置
                "searching": false,
                "bInfo": false,
                //列配置
                "columnDefs": [{
                    //只有最后一行不需要排序
                    "orderable": false, "targets": -1
                }]
            });
        });
    </script>

{% endblock %}
