<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paramiko Command Result</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
</head>
<body>
      <style scoped>
        .firstdiv {
          width:500px;
          height:250px;
          top: 30px;  left: 30px;
          position:relative;
        }

    </style>
<div id="layout" class="firstdiv pure-g">
    {% for key,value in cmd_res.items %}
        <li class="nav-item">
            {{key}} - {{value}}
        </li>
    {% endfor %}
</div>

</body>
</html>