{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title> 运维管理平台 </title>
        <link rel="icon" type="image/x-icon" href="/static/assets/images/bitbug_favicon.ico"/>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->
        {% include 'head_css.html' %}
        {% block page_css %}
        {% endblock %}
        {% block ace-content %}

        {% endblock %}
	</head>

	<body class="no-skin">
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-star"></i>
							运维管理平台
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->
				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="{% static 'assets/avatars/user.jpg' %}" alt="Jason's Photo" />
								<span class="user-info">
                                <!--判断用户是否已经通过认证，如果通过则显示用户已登陆-->
                                    {% if user.is_authenticated %}
                                        用户选项
                                        <small>{{user.username}}已登录</small>
                                    {% else %}
                                        用户选项
                                    {% endif %}
								</span>

								<i class="icon-caret-down"></i>
							</a>
							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                  {% if user.is_authenticated %}
                                    <li>
									<a href="{% url 'logout' %}">
										<i class="ace-icon fa fa-power-off"></i>
										注销
									</a>
								    </li>
                                  {% else %}
								    <li>
									<a href="{% url 'login'%}">
										<i class="ace-icon fa fa-user"></i>
										登录
									</a>
								    </li>
                                  {% endif %}
                                  <li class="divider"></li>
                                  <li>
									<a href="{% url 'changepwd' %}">
										<i class="ace-icon fa fa-cog"></i>
										更改密码
									</a>
								  </li>
					        </ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
<!-- kongzhitai> -->
						<li class="">
							<!-- <a href="index.html"> -->
                            <a href="{% url 'index'%}">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 控制台 </span>
							</a>
						</li>
<!-- renwubianpai-->
                      {% if '/taskmake/' in request.path or 'listtask' in request.path or 'updatetask' in request.path %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-th-large"></i>
                            <span class="menu-text"> 任务中心 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>

						<ul class="submenu">
				            {% if 'taskmake' in request.path %}
                            <li class="active" >
                            {% else %}
                            <li class="">
                            {% endif %}
                            <a href="{% url "taskmake" %}">
                                <i class="icon-double-angle-right"></i>
										编辑任务
                            </a>
                            </li>
                            {% if 'listtask' in request.path or 'updatetask' in request.path %}
                            <li class="active" >
                            {% else %}
                            <li class="">
                            {% endif %}
                            <a href="{% url "listtask" %}">
                                <i class="icon-double-angle-right"></i>
										任务列表
                            </a>
                            </li>
                        </ul>
						</li>

<!-- SSH> -->
                      {% if   'shedit' in request.path or '/scadd/' in request.path or '/run_ssh_cmd/' in request.path or '/run_ans_cmd/' in request.path or 'listsc' in request.path%}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-tasks"></i>
                            <span class="menu-text"> SSH </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>

							<ul class="submenu">
                            {% if '/listsc/' in request.path or 'shedit' in request.path %}
                            <li class="active" >
                            {% else %}
                            <li class="">
                            {% endif %}
                            <a href="{% url 'listsc' %}">
                            <i class="icon-double-angle-right"></i>
                                    脚本管理
                            </a>
                            </li>

                            {% if '/run_ssh_cmd/' in request.path %}
                             <li class="active" >
                            {% else %}
                             <li class="">
                            {% endif %}
							<a href="{% url 'run_ssh_cmd' %}">
							<i class="icon-double-angle-right"></i>
									执行命令
							</a>
							</li>
							</ul>
						</li>
<!-- zichanguanli> -->
                      {% if '/asset/' in request.path or '/add/host' in request.path %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-th-large"></i>
                            <span class="menu-text"> 资产管理 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>

						<ul class="submenu">
				            {% if '/lists/asset/' in request.path %}
                            <li class="active" >
                            {% else %}
                            <li class="">
                            {% endif %}
                            <a href="{% url 'lists' table='asset' %}">
                                <i class="icon-double-angle-right"></i>
										资产列表
                            </a>
                            </li>
                            {% if '/add/host/' in request.path %}
                            <li class="active" >
                            {% else %}
                            <li class="">
                            {% endif %}
                            <a href="{% url 'add' table='host' %}">
                                <i class="icon-double-angle-right"></i>
										添加主机
                            </a>
                            </li>
                        </ul>
						</li>
<!-- zichanguanli> -->
                      {% if '/socp/' in request.path %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-th-large"></i>
                            <span class="menu-text"> 聊天管理 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>

						<ul class="submenu">
				            {% if 'socp' in request.path %}
                            <li class="active" >
                            {% else %}
                            <li class="">
                            {% endif %}
                            <a href="{% url 'socp' request.user %}">
                                <i class="icon-double-angle-right"></i>
										chat
                            </a>
                            </li>
                        </ul>
						</li>
<!--yonghuguanli> -->
                      {% if '/user' in request.path   %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                      <a href="#" class="dropdown-toggle">
                        <i class="icon-user"></i>
                        <span class="menu-text"> 用户管理 </span>
                        <b class="arrow icon-angle-down"></b>
                      </a>
                        <ul class="submenu">
                        {% if '/user/' in request.path   %}
                          <li class="active open" >
                        {% else %}
                          <li class="">
                        {% endif %}
                            <a href="{% url 'lists' table='user' %}">
                                <i class="icon-double-angle-right"></i>
                                用户列表
                            </a>
                           </li>
                         </ul>
                        </li>
<!-- ansible guanli -->
                       {% if '/ansible' in request.path   %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                      <a href="#" class="dropdown-toggle">
                        <i class="icon-user"></i>
                        <span class="menu-text"> ansible自动任务 </span>
                        <b class="arrow icon-angle-down"></b>
                      </a>
                        <ul class="submenu">
                        {% if '/user/' in request.path   %}
                          <li class="active open" >
                        {% else %}
                          <li class="">
                        {% endif %}
                            <a href="{% url 'lists' table='user' %}">
                                <i class="icon-double-angle-right"></i>
                                用户列表
                            </a>
                           </li>
                         </ul>
                        </li>
<!-- CICD -->
                  {% if '/CICD' in request.path   %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                      <a href="#" class="dropdown-toggle">
                        <i class="icon-user"></i>
                        <span class="menu-text"> 敏捷开发 </span>
                        <b class="arrow icon-angle-down"></b>
                      </a>
                        <ul class="submenu">
                        {% if '/user/' in request.path   %}
                          <li class="active open" >
                        {% else %}
                          <li class="">
                        {% endif %}
                            <a href="{% url 'lists' table='user' %}">
                                <i class="icon-double-angle-right"></i>
                                用户列表
                            </a>
                           </li>
                         </ul>
                        </li>
<!--websocket ceshi> -->
                      {% if '/output' in request.path   %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                      <a href="#" class="dropdown-toggle">
                        <i class="icon-plus"></i>
                        <span class="menu-text"> websocket功能 </span>
                        <b class="arrow icon-angle-down"></b>
                      </a>
                        <ul class="submenu">
                        {% if '/output/' in request.path   %}
                          <li class="active open" >
                        {% else %}
                          <li class="">
                        {% endif %}
                            <a href="{% url 'cmdlines'  %}">
                                <i class="icon-double-angle-right"></i>
                                WebSocket功能
                            </a>
                           </li>
                         </ul>
                        </li>
<!--xineng guanli> -->
                      {% if '/gethostper' in request.path   %}
                        <li class="active open" >
                      {% else %}
                        <li class="">
                      {% endif %}
                        <a href="#" class="dropdown-toggle">
                            <i class="icon-table"></i>
                            <span class="menu-text"> 性能展示 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                          {% if '/gethostper/' in request.path   %}
                            <li class="active open" >
                          {% else %}
                            <li class="">
                          {% endif %}
                            <a href="{% url 'gethostper' %}">
                                <i class="icon-double-angle-right"></i>
                                性能数据
                            </a>
                            </li>
                        </ul>
						</li>
					</ul><!-- /.nav-list -->

                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="{% url 'index'%}">Home</a>
							</li>

							<li>
								<a href="#">{{ page_title }}</a>
							</li>
							<li class="active">{{ sub_title }}</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
                        <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
                        <div class="page-content-area">
                            <div class="page-header">
                                    <h1>
                                        <!--设置导航栏的页面标题-->
                                        {% block ptitle %}
                                        {% endblock %}
                                        {{ page_title }}
                                        <small>
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                             <!--设置导航栏的页面子标题-->
                                            {{ sub_title }}
                                        </small>
                                    </h1>
                            </div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                    {% block container %}

                                    {% endblock %}

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
                        </div><!-- /.page-content-area -->
					</div><!-- /.page-content -->
                 </div><!-- /.main-content -->


			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

        {% include 'javascript.html' %}
        {% block page_javascript %}
        {% endblock %}
		<!-- inline scripts related to this page -->
</body>
</html>
